.text-muted{
  font-size: 0.75em;
}
.list-group-item{
  background-color: transparent;
}

body {
  background-color: #D3D3D3;
}

.main{
  width: 75%;
}
.navbar {
  margin-top: 20px;
}

.trunc {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.stats {
  background: #CCC;
  opacity: 0.5;
  text-align: center;
  padding: 4px 0;
}

.stats .stat {
  padding: 5px;
}

.shot_image {
  width: 100%;
}


.shot_header {
  margin-bottom: 20px;
}

.shot_header h1 {
  font-size: 24px;
  line-height: 1;
  margin-top: 5px;
}

.shot_header img {
  height: 60px;
}

.img_comment {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#dribble-page-link {
  padding: 0;
}

#dribble-page-link:hover {
  background-color: transparent;
  text-decoration: underline;
}
